@inherits LayoutComponentBase

<RadzenComponents />
<div class="page">
    <main>
        <div class="header">
            <h1 class="title">
                <img src="Logo.png" alt="logo" class="logo" />
                Contrasting Horizons</h1>
            <NavBar />
        </div>
        <article class="content px-4">
            @Body
        </article>
        <Footer />
    </main>
</div>
