@inherits LayoutComponentBase

<RadzenComponents />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class = "app_bar">
            <AppBar/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
