@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="header">
            <h1 class="title">
                <img src="Logo.png" alt="logo" class="logo" />
                Contrasting Horizons</h1>
            <nav>
               
                <ul class="nav_links">
                    <li><NavLink href="/">Home</NavLink></li>
                    <li><NavLink href="/Compare">Compare</NavLink></li>
                    <li><NavLink href="/about">About</NavLink></li>
                    
                </ul>
            </nav>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Search for a country..." name="search" />
            <button type="submit">Search</button>            

        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
