@inherits LayoutComponentBase

<RadzenComponents />
<div class="page">
    <main>
        <div class="header">
            <h1 class="title">
                <img src="Logo.png" alt="logo" class="logo" />
                Contrasting Horizons</h1>
            <NavBar />
        </div>
        <div class="search-container">
            <input type="text" placeholder="Search for a country..." name="search" />
            <button type="submit">Search</button>            
        </div>      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
