@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="header">
            <h1 class="title">
                <img src="Logo.png" alt="logo" class="logo" />
                Contrasting Horizons</h1>
            <nav>
                <ul class="nav_links">
                    <li><NavLink href="/">Home</NavLink></li>
                    <li><NavLink href="/Compare">Compare</NavLink></li>
                    <li><NavLink href="/about">About</NavLink></li>
                </ul>
            </nav>
        </div>

        <div class="search-container">
            <input type="text" placeholder="Search for a country..." name="search" />
            <button type="submit">Search</button>            
        </div>

        <div>
            <p class="paragraph_country">
                <img src="sweden-flag.png" alt="Sweden" class="flag" />
                Sweden</p>
        </div>

        <div class="grid-container">
            <div class="grid-item">Water Info Grid</div>
            <div class="grid-item">Food Info Grid</div>
            <div class="grid-item">Energy Info Grid</div>
            <div class="grid-item">Gas Emissions Info Grid</div>
            <div class="grid-item">Other Features</div>
            <div class="grid-item">Other Features</div>

        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
