.page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    margin: 50px auto 0 auto;
}

.content-container {
    width: 500px;
}

.img-container {
    width: 600px;
    margin-left: auto;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.header-container p {
    font-family: monospace;
}

.header-container h1 {
    font-size: 3rem;
    font-weight: 600;
}