@page "/about"

<PageTitle>About</PageTitle>

<div class="page-wrapper">
    <div class="content-container">
        <div class="header-container">
            <p class="mini-header">ABOUT US</p>
            <h1>Exploring Contrasts Worldwide</h1>
        </div>
        <div class="desc-container">
            <p>
                Welcome to Contrasting Horizons, where we paint vivid comparisons of consumption metrics across countries. 
                Our website serves as a canvas, showcasing the diverse landscapes of global consumption patterns, 
                offering insights that illuminate the contrasts that shape our world. 
                Join us on a journey of exploration and discovery as we delve into the fascinating tapestry of consumption habits worldwide.
            </p>
            <p>
                All data provided by <a href="https://ourworldindata.org/">Our World in Data</a>.
            </p>
        </div>
    </div>
    <div class="img-container">
        <img src="Initials-logo.png" alt="About us" />
    </div>
</div>