@page "/"
@using Client.Components

<PageTitle>Home</PageTitle>

<title>Home</title>

<div>
    <p class="paragraph_country">
        <img src="sweden-flag.png" alt="Sweden" class="flag" />
        Sweden</p>
</div>

<SearchBar/>

<div class="grid-container">
    <div class="grid-item">Water Info Grid</div>
    <div class="grid-item">Food Info Grid</div>
    <div class="grid-item">Energy Info Grid</div>
    <div class="grid-item">Gas Emissions Info Grid</div>
    <div class="grid-item">Other Features</div>
    <div class="grid-item">Other Features</div>
</div>

<DashBoard></DashBoard>
