@page "/"
@using Client.Components

<PageTitle>Home</PageTitle>

<title>Home</title>

<div>
    <p class="paragraph_country">
        <img src="sweden-flag.png" alt="Sweden" class="flag" />
        Sweden</p>
</div>

<SearchBar/>

<DashBoard></DashBoard>
