@page "/"
@using Client.Components

<PageTitle>Home</PageTitle>
<title></title>

<ComparisonComponent ResourceType="Water"/>
<ComparisonComponent ResourceType="Electricity" />
<ComparisonComponent ResourceType="Food"  />

