@page "/"
@using Client.Components

<PageTitle>Home</PageTitle>
<title></title>

<ComparisonComponent ResourceType="Water" CountryOrigin="@GenerateRandomCountryTyp("Sweden")" CountryComparison="@GenerateRandomCountryTyp("Afghanistan")"/>


