@page "/"
@using Client.Components

<PageTitle>Home</PageTitle>
<title></title>

<ComparisonComponent ResourceType="water" OriginCountryValue="200" ComparisonCountryValue="268" Unit="L" />
<ComparisonComponent ResourceType="electricity" OriginCountryValue="2134" ComparisonCountryValue="1067" Unit="W" />
<ComparisonComponent ResourceType="food" OriginCountryValue="1" ComparisonCountryValue="1" Unit="kg" />
