/* Navigation settings */
.nav_links {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
}

.nav_links li {
    display: inline-block;
    margin-right: 60px;
}

.nav_links li:last-child {
    margin-right: 0;
}

.nav_links li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 25px;
    padding: 5px 10px 10px;
    border-bottom: 2px solid transparent;
}

.nav_links li a:hover {
    border-bottom: 2px solid #e14177;
    color: navy; 
}

.nav_links li a:active {
    color: #e14177
}



/* Title and Logo settings */
.title {
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 500px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; 
    height: auto; 
    margin-right: 10px; 
}



/* Search bar settings */
.search-container {
    margin-top: 20px; 
    text-align: center;
}

.search-container input[type=text] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 650px; 
}

.search-container button {
    padding: 10px 40px;
    border: 2px;
    background: #058dcd;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background: #4daeef; 
}

.search-container button:active {
    background: #003366; 
}
