.main {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    margin: 20px;
}

.Country {
    padding: 10px;
    border-radius: 10px;
}

.text {
    font-size:20px;
}