.main {
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid gray;
    max-width: 30rem;
}
.OriginCountry {
    width: 10rem;
    background-color: rgb(189, 189, 55);
}

.ComparisonCountry {
    background-color: rebeccapurple;
}

.Country {
    padding: 10px;
    border-radius: 10px;
}

.text {
    font-size:20px;
}