.main {
    /*display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-evenly;*/
    display: block;
    padding: 40px;
    margin: 10px;
    height: auto;
}

.Country {
    padding: 10px;
    border-radius: 10px;
}

.text {
    font-size:20px;
}