
<div class="main">
    <h3>@ComparisonCountryName uses @DifferencePercentage() @ResourceType </h3>
    <p class="text">@OriginCountryName: </p>
    <div class="OriginCountry Country">@OriginCountryValue@Unit</div>
    <p class="text">@ComparisonCountryName: </p>
    <div class="ComparisonCountry Country" style="@ComparisonValueStyle">@ComparisonCountryValue@Unit</div>
</div>



