<h3>CustomComparisonModal</h3>
<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
	<ComparisonComponent CountryComparison="@_countryComparison" CountryOrigin="@_countryOrigin" date="@_date" ResourceType="@_resourceType"></ComparisonComponent>
</RadzenCard>

