.dash-board {
    height: 100%;
    width: 100%;
    background-color: #eeecec;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.country-of-the-day {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.card-container {
    display: block;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 25px;
}

.table-of-contents {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.table-of-contents ul li  {
    display: inline-block;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0.5rem 0.5rem 0 0;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid black;
    transition: all 0.5s;
}


.table-of-contents ul li :hover {
    border-bottom: solid 1px black
}

.table-of-contents ul li :active {
    border-bottom: solid 2px black;
}

.table-of-contents ul li a {
    text-decoration: none;
    color: black;
}

.table-of-contents ul :hover {
    border-color: #057dcd;
}

.table-of-contents ul :active {
    border-color: #1E3D58;
}

/* Grid settings */
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 20px;
    margin-top: 20px; 
    padding-left: 20px;
    padding-right: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    min-height: 25vh;
    max-height: 70vh;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 15px 1px gray;
    border-color: #1E3D58;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container :hover {
    box-shadow: 0 0 15px 1px #057dcd;
    cursor:pointer;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
}