@page "/dashboard"

@inject HttpClient httpClient


<div class="dash-board">
    

    @foreach (string label in dataLabels)
    {

        <div class="data-card">
            @if (countryOfTheDay == null || comparedCountries == null)
            {
                <div>Loading...</div>
            }
            else
            {
                // TODO: Change to data component
                <div>Country of the day: @countryOfTheDay.Name</div>
                @foreach (var country in comparedCountries)
                {
                    <div>Compared country: @country.Name</div>
                }
            }
        </div>
    }
</div>
