@page "/dashboard"

@inject HttpClient httpClient
@inject API.IApiHandler apiHandler;

<div class="dash-board">
    <nav class="table-of-contents">
        <h3>Statistics</h3>
        
    </nav>
    <div class="card-container">
        <ComparisonComponent CountryComparison="@countryComp" CountryOrigin="@countryCompTwo" date="@dateOnlyLol" ResourceType="Water"></ComparisonComponent>
    </div>
</div>
