@using API

<div class="rz-p-sm-12 rz-text-align-center">
    <RadzenLabel Text="Select Data" Component="DropDownMultipleChips" Style="margin-right: 8px; vertical-align: middle;" Visible=true></RadzenLabel>
    @if(data.Count() == 0)
    {
        <RadzenDropDown TValue=string
                        Data=null
                        TextProperty="."
                        ValueProperty="."
                        Name="DropDownMultiple"
                        Multiple=true
                        AllowClear=true
                        Placeholder="Loading data..."
                        Chips=false>
        </RadzenDropDown>
    }
    else
    {
        <p>Should display data @data</p>
        <RadzenDropDown 
                        TValue="string"
                        Data=@data
                        TextProperty="Name"
                        Name="DropDownMultiple"
                        Multiple=true
                        AllowClear=false
                        Placeholder="Select data"
                        Chips=false>
        </RadzenDropDown>
    }
</div>

