<footer>
    <div class="row">
        <p>&copy; 2024 Contrasting Horizons. All rights reserved.</p>
        <p>All data provided by <a href="https://ourworldindata.org/">Our World in Data</a>.</p>
    </div>
</footer>