<div class="rz-p-sm-10 rz-text-align-right">
    <RadzenDropDown @bind-Value=@_HomeCountry Data=@CountryNames Style="width: 100%; max-width: 300px;" Change="HomeCountryChange"></RadzenDropDown>
</div>
