@page "/searchbar"
<div class="search-container">
            <input type="text" placeholder="Search for a country..." name="search" />
            <button type="submit">Search</button>            
</div>    